body {
   font-family: "Roboto", sans-serif;
   background-color: #E2DCCE;
   color: black;
}

h1,h2 {
   font-family: "Baskerville", serif;
   color: #009BA3;
   background-color: transparent;
}

#column1
{
   float: left;
   margin: 0;
   width: 30%;

}

#column2
{
   float: left;
   margin: 0;
   width: 70%;
}