body {
   font-family: "Roboto", sans-serif;
   background-color: #E2DCCE;
   color: #48494b;
   margin: 2em;
}

h1,h2 {
   font-family: "Baskerville", serif;
   color: #009BA3;
   background-color: transparent;
}

h1 {
   font-size: 3em;
   font-weight: 500;
   margin-bottom: 20px;
}

h2 {
   font-size: 2em;
   font-weight: 300;
   margin-top: 20px;
   margin-bottom: 20px;
}

em {
   font-style: italic;
}

li {
   line-height: 30px;
}

ol {
  list-style: none;
  counter-reset: green-counter;
}

ol li {
  counter-increment: green-counter;
}

ol li::before {
  content: counter(green-counter) ". ";
  color: #009BA3;
  background-color: transparent;
  font-family: "Baskerville", serif;
  font-weight: 300;
}

a {
   color: #009BA3;
   background-color: transparent;
}


img  {
   margin-bottom: 20px;
}

p {
   line-height: 25px;
   margin-bottom: 50px;
}

#column1
{
   float: left;
   margin: 0;
   position: fixed;
   width: 30%;
   height: 100%;
}

#column2
{
   float: right;
   margin: 0;
   width: 70%;
   text-align: center;
   left: 30%;
   height: 100%;
}