body {
   font-family: "Roboto", sans-serif;
   background-color: #E2DCCE;
   color: #48494b;
}

h1,h2 {
   font-family: "Baskerville", serif;
   color: #009BA3;
   background-color: transparent;
}

h1 {
   font-size: 3em;
   font-weight: 500;
   margin-bottom: 20px;
}
#column1
{
   float: left;
   margin: 0;
   width: 30%;

}

#column2
{
   float: left;
   margin: 0;
   width: 70%;
}